<ion-view view-title="{{'BUY_LUMENS' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="close()" translate="CLOSE">
        </button>
    </ion-nav-buttons>
    <form name="depositForm" method="post" novalidate>
        <ion-content class="container-body">
            <div class="list-default">

                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate="BUY_AMOUNT"></span>
                    <input ng-model="data.amount" name="amount" type="number"
                           placeholder="{{'AMOUNT_PLACEHOLDER' | translate}}"
                           required>

                    <div ng-messages="depositForm.amount.$error" role="alert"
                         ng-show='depositForm.$submitted || depositForm.amount.$dirty'>
                        <div ng-message="required" class="form-error" translate="AMOUNT_REQUIRED_MESSAGE"></div>
                        <div ng-message="number" class="form-error" translate="AMOUNT_VALID_MESSAGE"></div>
                    </div>
                </label>

                <div class="item background-light">
                    <b translate="BUY_SELL_DESCRIPTION"></b>
                </div>

                <label class="item item-input item-select">
                    <span class="input-label" translate="BUY_CURRENCY"></span>
                    <select ng-model="data.from_currency" name="from_currency" required>
                        <option value="USD" selected>USD</option>
                        <option value="SGD">SGD</option>
                        <option value="IDR">IDR</option>
                        <option value="EUR">EUR</option>
                        <option value="CNY">CNY</option>
                        <option value="ZAR">ZAR</option>
                    </select>
                </label>

                <div ng-messages="depositForm.from_currency.$error" role="alert"
                     ng-show='depositForm.$submitted || depositForm.from_currency.$dirty' style="padding-left: 10px">
                    <div ng-message="required" class="form-error" translate="CURRENCY_REQUIRED_MESSAGE"></div>
                </div>

                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate="BUY_PRICE"></span>
                    <input ng-model="data.from_amount" name="from_amount" type="number"
                           placeholder="{{'AMOUNT_PLACEHOLDER' | translate}}"
                           required>

                    <div ng-messages="depositForm.from_amount.$error" role="alert"
                         ng-show='depositForm.$submitted || depositForm.from_amount.$dirty'>
                        <div ng-message="required" class="form-error" translate="AMOUNT_REQUIRED_MESSAGE"></div>
                        <div ng-message="number" class="form-error" translate="AMOUNT_VALID_MESSAGE"></div>
                    </div>
                </label>

            </div>
        </ion-content>

        <!-- Footer bar hack to get layout right -->
        <ion-footer-bar class="bar-dark">
        </ion-footer-bar>

        <button keyboard-attach class="bar bar-footer high-footer" ng-click="submit(depositForm)">
            <h1 class="title" translate="NEXT"></h1>
        </button>
    </form>
</ion-view>