<ion-view view-title="{{'WITHDRAW' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="close()" translate="CLOSE">
        </button>
    </ion-nav-buttons>
    <form name="depositForm" method="post" novalidate>
        <ion-content class="container-body">
            <div class="list">
                <label class="item item-input item-select">
                    <span class="input-label" translate="WITHDRAW_CURRENCY_TO_RECEIVE"></span>
                    <select ng-model="data.to_currency" name="to_currency" required>
                        <option  value="USD">USD</option>
                        <option value="SGD">SGD</option>
                        <option value="IDR">IDR</option>
                        <option value="EUR">EUR</option>
                        <option value="CNY">CNY</option>
                        <option value="ZAR">ZAR</option>
                    </select>
                </label> 
                <label class="item item-input">
                    <div ng-messages="depositForm.to_currency.$error" role="alert"
                         ng-show='depositForm.$submitted || depositForm.to_currency.$dirty'>
                        <div ng-message="required" class="form-error" translate="CURRENCY_REQUIRED_MESSAGE"></div>
                    </div>                    
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate="WITHDRAW_AMOUNT_TO_RECEIVE"></span>
                    <input ng-model="data.to_amount" name="to_amount" type="number" placeholder="{{'AMOUNT_PLACEHOLDER' | translate}}"
                           required>
                    <div ng-messages="depositForm.to_amount.$error" role="alert"
                         ng-show='depositForm.$submitted || depositForm.to_amount.$dirty'>
                        <div ng-message="required" class="form-error" translate="AMOUNT_REQUIRED_MESSAGE"></div>
                        <div ng-message="number" class="form-error" translate="AMOUNT_VALID_MESSAGE"></div>
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate="WITHDRAW_AMOUNT_TO_EXCHANGE"></span>
                    <input ng-model="data.amount" name="amount" type="number" placeholder="{{'AMOUNT_PLACEHOLDER' | translate}}"
                           required>
                    <div ng-messages="depositForm.amount.$error" role="alert"
                         ng-show='depositForm.$submitted || depositForm.amount.$dirty'>
                        <div ng-message="required" class="form-error" translate="AMOUNT_REQUIRED_MESSAGE"></div>
                        <div ng-message="number" class="form-error" translate="AMOUNT_VALID_MESSAGE"></div>
                    </div>
                </label>
            </div>
        </ion-content>

        <!-- Footer bar hack to get layout right -->
        <ion-footer-bar class="bar-dark">
        </ion-footer-bar>

        <button keyboard-attach class="bar bar-footer high-footer" ng-click="submit(depositForm)">
            <h1 class="title" translate="NEXT">Next</h1>
        </button>
    </form>
</ion-view>