<ion-view view-title="{{'HISTORY' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="close()" translate="CANCEL">
        </button>
    </ion-nav-buttons>
    <ion-content class="container-body">
        <ion-refresher pulling-text="pull to refresh" on-refresh="refreshData()"></ion-refresher>
        <div class="list-default">

            <div class="item background-light">
                <b translate="HISTORY"></b>
            </div>
            <div class="block">
                <div ng-repeat="offer in offers">
                    <div ng-if="offer.status == 'Confirmed'">
                        <div class="item item-avatar item-icon-left no-padding">
                            <img class="circle-base profile-image"
                                 ng-src="{{ offer.transaction.user.profile || 'img/profile_2.png' }}"/>

                            <div class="row default-top">
                                <div class="col align-left">
                                    <h2 ng-if="offer.transaction.metadata.from_currency"
                                        translate="DEPOSIT_TELLER_TRANSACTION"
                                        translate-values="{ currency: offer.transaction.currency, fee: offer.transaction.fee, amount: offer.transaction.amount, tx_type: offer.transaction.tx_type, from_currency: offer.transaction.metadata.from_currency, from_amount: offer.transaction.metadata.from_amount}"></h2>
                                    <h2 ng-if="offer.transaction.metadata.to_currency"
                                        translate="WITHDRAW_TELLER_TRANSACTION"
                                        translate-values="{ currency: offer.transaction.currency, fee: offer.transaction.fee, amount: offer.transaction.amount, tx_type: offer.transaction.tx_type, to_currency: offer.transaction.metadata.to_currency, to_amount: offer.transaction.metadata.from_amount}"></h2>
                                    <h5>{{ offer.created | date:'d MMM yyyy' }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
