<ion-view view-title="Receive">
    <ion-content class="container-body">
        <div class="row text-center">
            <div class="col col-100">
                <div class="container-default">The QR code is your public address for accepting payments.</div>
                <div class="container-qr">
                    <img ng-src="{{ myAddress }}" alt="Receive Address" height="250" width="250">
                </div>

            </div>
        </div>
        <ion-item>
            <center>
                <p>{{ account.reference }}</p>
            </center>
        </ion-item>
        <div class="row center">
            <div class="list center padding">
                <button ng-click="ShowModalAdvanced()"
                        class="button button-small button-outline icon-left" translate="RECEIVE_ADVANCED">
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>